@font-face {
  font-family: 'header';
  src: url("fonts/analogue86blackoblique.ttf") format('truetype');
}

@font-face {
  font-family: 'bodytext';
  src: url("fonts/analogue55regular.ttf") format('truetype');
}

body {
  padding: 1em;
  font-family: 'bodytext', sans-serif;
  font-size: 1em;
}

code {
  margin: 1em;
  width: 50%;
}

#sitemap {
  height: auto;
  width: 200%;
}

/*
Headings
*/

h1, h2, h3, h4 {
  font-family: 'header', sans-serif;
}

/*style sheet grid*/
#grid {
  display: grid;
  grid-template-columns: 25% 75%;
}

#nav-panel {
  grid-column-start: 1;
  grid-column-end: 2;
}

#content-right {
  grid-column-start: 2;
  grid-column-end: 3;
}

/*
main style guide navigation
*/
#main-nav ul {
  list-style: none;
}

#main-nav ul li {
  margin: 1em;
}

/*in-text-link*/
.in-text-link {
  text-decoration: none;
  color: #FF4D2B;
}

/*navigation button style*/
#main-nav-runnr ul{
  list-style: none;
}

.nav-link:hover {
  text-decoration: underline;
  color: #FF4D2B;
}

.nav-link:visited {
  color: black;
}

/*Submit and Reset buttons */
button {
  border: none;
  width: 10em;
  height: 2em;
}

.submit {
  color: white;
  background-color: #F2855C;
  transition: background-color 0.5s ease;
}

.submit:hover, .submit:active, .submit:focus {
  background-color: #FF4D2B;
}

.reset {
  color: white;
  background-color: #F2855C;
  transition: background-color 0.5s ease;
}

.reset:hover, .reset:active, .reset:focus {
  background-color: #FF4D2B;
}

/*form*/
form {
  display: flex;
  flex-direction: column;
}

input {
  width: 50%;
}

label {
  margin: 1em 0 1em 0;
}

/*main navigation*/
#main-nav-runnr {
  width: 100%;
}

#main-nav-runnr ul {
  display: flex;
  flex-direction: row;
}

#main-nav-runnr ul li {

}

/*product listing*/
.listing {
  display: flex;
  background-color: #CCDDEE;
  border-radius: 1em;
  padding: 1em;
}

.listing-img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  margin: 1em;
}

#listing-go {
  display: inline-block;
  align-self: flex-end;
  margin-left: auto;
}

/*main-nav*/
.home {
  margin-right: auto;
}

.nav-link {
  border: none;
  text-decoration: none;
  margin: 1em;
  color: #FF4D2B;
}

/*grid structure*/
.vertical {
  display: flex;
  flex-direction: column;
}

.example-item {
  margin: 2em;
  color: white;
}

.color-box {
  color: white;
  margin: 2em;
  width: 10em;
  height: 10em;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

/*color swatches*/

#color1 {
  background-color: #292D9F;
}

#color2 {
  background-color: #FF4D2B;
}

#color3 {
  background-color: #F2855C;
}

#color4 {
  background-color: #EFE7DA;
}
